#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName",      "LiveManage"
            VALUE "FileDescription",  "Virtual Camera DirectShow Filter"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "vcam_filter"
            VALUE "OriginalFilename", "vcam_filter.dll"
            VALUE "ProductName",      "Virtual Camera"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 0x04B0
    END
END
